# Archivos generales a ignorar
*.log
*.env
.DS_Store
node_modules/
dist/
tmp/

# Específicos de Python/Flask
## Bytecode de Python
__pycache__/
*.py[cod]

## Carpetas de entorno virtual
venv/
env/
.virtualenv/

## Archivos de configuración de Flask que podrían contener secretos
instance/

## Archivos de base de datos SQLite, común en aplicaciones Flask
*.db
*.sqlite

# Específicos de Angular/front
## Dependencias
front/node_modules/

## Archivos de compilación
front/dist/

## Archivos de cache de Angular
.front/.angular/cache/

## Archivos temporales o de compilación
front/tmp/
front/out-tsc/

# Archivos de configuración IDE específicos (opcional)
## Visual Studio Code
.vscode/
## IntelliJ IDEA / WebStorm
.idea/
## Sublime Text
*.sublime-workspace

## Otros archivos IDE o editor específicos que desee ignorar
